body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}
html {
  font-size: 18px;
  background-color: white;
  font-family: sans-serif;
  line-height: 1.15;
}
.company {
  background-color: black;
  color: white;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0px 12px 0.5em;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
.company img {
  height: 1.5em;
  padding-right: 15px;
}
img {
  border-style: none;
}
div {
  display: block;
}
.main-banner {
  height: 25em;
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg)center center / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
}
.headline {
  background-color: black;
  color: white;
  width: 20em;
  position: relative;
  top: 9em;
  padding: 2em 3em;
}
h1, h4 {
  font-weight: bold;
}
h4 {
  display: block;
}
.headline h1 {
  font-size: 2em;
  line-height:1.2em;
  margin: 0.25em 0px;
}
nav {
  background-color: firebrick;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75 em 0;
  list-style: none;
}
li {
  display: list-item;
}
.mobile-nav {
  display: none;
}
.products {
  display: flexl
  justify-content: space-between;
  margin: 3em 0px 0px;
}
.product {
  width: 30%;
}
.product-image {
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  padding: 2em 0px;
}
.product-image img {
  max-width: 8em;
}
img {
  border-style: none;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}
.info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}
footer {
  height: 5rem;
  background-color: black;
  color: white;
  margin-top: 4em;
  padding: 5em 0px;
}
footer .container {
  text-align: left;
  align-content: center;
  display: block;
}
@media only screen and (max-width: 1024px) {
body {
  font-size: 16px;
}
}
@media only screen and (max-width: 1024px) {
nav ul {
  display: none;
}
}
@media only screen and (max-width: 1024px) {
.product {
  width: 47%;
}
}
@media only screen and (max-width: 1024px) {
.mobile-nav {
  display: block;
  text-align: center;
}
}
